*{
    padding: 0px;
    margin: 0px;
}
.bg{
    background-image: url("./bg1.svg") !important;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar {
    background-color: rgba(249, 250, 253, 0.227);
    display: flex !important;
    height: 100px;
    align-items: center;
}
.navbar > div > a {
    padding: 30px;   
    text-decoration: none !important;
    color: black;
}
.navbar > div > a:hover{
    text-decoration: underline;
    color: gold;
}
.right{
    width: 25% !important;
}
.select{
    background-color: transparent;
    border: none;
    padding: 10px;
}
.logo{
    margin-left: 60px;
    width: 100px;
}
.mid{ 
    width: 70%;
}
.left{
    width: 30%;
}

.btn{
    background-color: transparent;
    border: solid black 1px;
    padding: 10px;
}

.btn:hover{
    background-color: black;
    color: white;
}

.banner{
    display: flex;
}
.banner-left{
    padding: 100px;
}
.banner-right{
    padding: 20px;
    width: 80%;
    background-image: url("./bg.png") !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 110vh;
}

.banner-title{
    margin-top: 20px;
    font-size: 75px;
}
.banner-p{
    margin-top: 20px;
    font-size: 20px;
    color: brown;
    font-weight: bold;
}

.banner-btn{
    margin-top: 20px;
    background-color: goldenrod;
    width: 150px;
    padding: 20px;
    border: none;
    border-radius: 10%;
    color: white;
}
.btn-text{
    font-size: medium;
}
.card{
    display: flex;
    margin: 40px;
    justify-content: space-between !important;
}
.inner-card{
    padding: 50px;
    border: solid black 1px;
    border-radius: 20%;
    text-align: center;
}
.inner-card > h3{
    margin-top: 10px;
}
.inner-card > p{
    margin-top: 10px;
}
.first-card{
    padding: 20px;
    width: 25%;
}
.secand-card{
    padding: 20px;
    width: 25%; 
}
.three-card{
    padding: 20px;
    width: 25%;
}
.four-card{
    padding: 20px;
    width: 25%;
}
.selling-h3{
    text-align: center;
}
.selling-h1{
    text-align: center;
    font-size: 60px;
}

.selling-content{
    display: flex;
    padding: auto !important;
    height: 70vh !important;
}
.selling-content1{
    width: 35%;
    margin:30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://technext.github.io/jadoo/v1.0.0/assets/img/dest/dest1.jpg');
}
.selling-content2{
    width: 35%;
    margin:30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://technext.github.io/jadoo/v1.0.0/assets/img/dest/dest2.jpg');
}
.selling-content3{
    width: 35%;
    margin:30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://technext.github.io/jadoo/v1.0.0/assets/img/dest/dest3.jpg');
}

.email{
    text-align: center;
    padding: 100px;
    
    background-color:rgba(223, 215, 249, 0.199);
}
.email >h1{
    margin-bottom: 40px;
    font-size: 30px;
}
.email-btn{
    background-color: orangered;
    color: white;
    width: 100px;
    border: none;
    border-radius: 30px;
    height: 35px;
}
.email-input{
    width: 35%;
    border-radius: 30px;
    height: 35px;

}
.footer{
    display: flex;
    padding: 60px;
}
.footer-left{
    padding: 50px;
    width: 30%;
}

.footer-mid1{
    padding: 50px;
    width: 20%;
}

.footer-mid2{
    padding: 50px;
    width: 20%;
}

.footer-right{
    padding: 50px;
    width: 20%;
}

.footer-h1{
    font-size: 50px;
    margin-bottom: 10px;
}
.footer-ul{
    list-style-type: none;
    margin-top: 20px;
}
.footer-ul > li:hover{
    color: gold;
    cursor: pointer;
}
.reserved{
    margin-bottom: 30px;
}
.reserved-p{
    text-align: center;
}
